---
import "../styles/main.css"

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description"
         content="My implementation of the Frontend Master's project 'FAQ Accordion' ">
   <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
   <title>{title}</title>
</head>
<body>
<slot/>
<footer class="attribution">
   Challenge by <a href="https://www.frontendmentor.io/challenges/faq-accordion-wyfFdeBwBz"
                   target="_blank">Frontend
   Mentor</a>.
   Coded by <a href="https://www.frontendmentor.io/profile/FJSolutions" target="_blank">Francis
   Judge</a>.
</footer>
</body>
</html>